@import '~antd/dist/antd.css';


header {
    text-align: center;
    margin: 2em;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    display: flex;
}

.menu {
    width: 10%;
}

.songsList {
    width: 90%;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

.song-button {
    visibility: hidden;
}

.song:hover .song-button{
    visibility: visible;
}